@import "./assets/scss/reset";
@import "./assets/scss/variables";


body {
  overflow: hidden; 
}

h1 {
  font-family: $fontFamily;
}

p {
  font-family: 'open-sans';
  font-size: 1rem;
  color: #6E798C;
  font-weight: 400;
}

.cdk-virtual-scroll-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  contain: content;
  display: flex;
  flex-wrap: wrap;
}

